body {
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 3rem;
}

/* Game Area */

.game-area {
    background-color: rgb(201, 201, 201);
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.choice-area {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 5px;
}

.reveal-area {
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.score-area {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.rpsbutton {
    padding: 10px 3px;
    border: 0;
    height: 120px;
    width: 120px;
    background-color: transparent;
    cursor: pointer;
    transition: 100ms;
}
/* Enlargens buttons when hovered */
.rpsbutton:hover {
    transform: scale(1.2);
}