body {
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 2rem;
}

/* Game Area */

.game-area {
    background-color: rgb(201, 201, 201);
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.choice-area {
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 2px;
    color: black;
}

.reveal-area {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 2rem 0;
}

.score-area {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.rpsbutton {
    padding: 10px 3px;
    border: 0;
    height: 120px;
    width: 120px;
    background-color: transparent;
    cursor: pointer;
    transition: 100ms;
    color: black;
}

#resultArea {
    text-align: center;
}

/* Enlargens buttons when hovered */
.rpsbutton:hover {
    transform: scale(1.2);
}

.player-icon {
    padding: 15px 0;
}

.computer-icon {
    padding: 15px 0;
}

/* Media Query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
    .heading {
        font-size: 3rem;
    }

    .choice-area {
        font-size: 5px;
    }

    .score-area {
        font-size: 3rem;
    }
}