body {
    background-color: lightcoral;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.heading {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

/* Game Area */

.game-area {
    background-color: grey;
    width: 80%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.choice-area {
    background-color: aqua;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.reveal-area {
    background-color: green;
}

.result-area {
    background-color: darkblue;
    text-align: center;
}

.score-area {
    background-color: orange;
    text-align: center;
}

.rpsbutton {
    padding: 10px 3px;
    border: 0;
    height: 120px;
    width: 120px;
    background-color: transparent;
}
.fa {

}